* {
    border: 2px solid red;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

.home-page h1 {
    color: #f59402;
    text-shadow: 1px 1px white; 
}

.home-page ul li a {
    color: white;
    text-decoration: none;
}

img {
    margin-left: 35.6%;
}

.container h1 {
    color: #CB9708;
    font-weight: 800;
    text-align: center;
}

.container h2,
.container h3 {
    color: #00AEBA;
    font-weight: 700;
}

#macaroni-page h1{
    text-shadow: 1px 1px white;
}

#cake-page h1 {
    color: #4c3228;
    text-shadow: 1.5px 1.5px white;
}

#eggs-page h1 {
    color: #ffa631;
    text-shadow: 1px 1px white;
}

.container p {
    margin-left: 27px;
    margin-bottom: 15px;
}
