* {
    border: 2px solid red;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

/* lists start */

.home-page ul li a {
    color: white;
    text-decoration: none;
}

.container ul {
    margin-left: 1400px;
}

.container ol {
    margin-left: 400px;
}

/* lists end */

.container p {
    width: 850px;
    margin: 0 auto;
}

img {
    margin-left: 7.5%; /* 35.5% for center */
}

/* headers start */

.home-page h1 {
    color: #f59402;
    text-shadow: 1px 1px white; 
}

.container h1 {
    color: #CB9708;
    font-weight: 800;
    text-align: center;
}

.container h2,
.container h3 {
    color: #00AEBA;
    font-weight: 700;
    text-align: center;
}

.container h2 {
    font-size: 35px;
}

.container h3 {
    font-size: 22px;
}

#macaroni-page h1{
    text-shadow: 1px 1px white;
}

#cake-page h1 {
    color: #4c3228;
    text-shadow: 1.5px 1.5px white;
}

#eggs-page h1 {
    color: #ffa631;
    text-shadow: 1px 1px white;
}

/* headers end */
